.ps-popup{
  width: calc(100% - 40px);
  margin: 10px auto 10px auto;
  @include breakpoint('medium') {
    max-width: 900px;
    margin: 70px auto 30px auto;
  }
  position: relative;
  z-index: 21;
  opacity: 0;
  top: -110px;
  transition-delay: .4s;
  transition: .4s top cubic-bezier(.7, 0, .3, 1),.4s opacity cubic-bezier(.7, 0, .3, 1);
    opacity: 1;
    top: 0px;
}



.ps-popup__title{
  color: #fffcf2;
  font-family: $font;
  font-weight: 900;
  font-size: 40px;
  position: relative;
}

.ps-popup__title__close{
  color: #fffcf2;
  position: absolute;
  right: 0;
  background: red;
  width: 27px;
  height: 29px;
  &:hover{
    opacity: .7;
  }
}

.ps-popup_content{
  margin-top: 20px;
  font-family: $font;
  font-size: 16px;
  color: #473522;
  background: #fffcf2;
  padding: 20px;
  img{
    width: 100%;
  }
  a{
    color: #473522;
  }
}

.ps-popup__bg{
  position: fixed;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  -wpskit-overflow-scrolling: touch;
  left: 0;
  top: 0;
  background-color: rgba(#473522,0.7);
  opacity: 0;
  z-index: -3;
 
    opacity: 1;
    z-index: 200000;

}