.ps-content__dettaglio {
  background: #232323;
  padding: 80px 0;
  margin-bottom: 80px;
  @include breakpoint(large) {
    padding: 120px 0;
    margin-bottom: 120px;
  }
}

.ps-content__dettaglio__content {
  box-sizing: border-box;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 40px;
  @include breakpoint(xlarge) {
    padding: 0 80px;
  }
  position: relative;
}

.ps-content__dettaglio__title {
  color: #fff;
  @include font(38px, $font, 48px, 500);
  @include breakpoint(large) {
    @include font(48px, $font, 56px, 500);
  }
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-right: 80px;
}

.ps-content__dettaglio__description {
  color: rgba(#fff, 0.5);
  @include font(20px, $font, 30px);
  margin-bottom: 40px;
  @include breakpoint(large) {
    @include font(26px, $font, 36px);
  }
  @include breakpoint(xlarge) {
    margin-bottom: 80px;
  }
}

.ps-content__dettaglio__close {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0px;
  right: 40px;
  @include breakpoint(xlarge) {
    right: 80px;
  }
  color: #fff;
  width: 30px;
  height: 30px;
  @include font(38px, $font, 30px, 300);
  @include breakpoint(large) {
    width: 40px;
    height: 40px;
    content: "";
    background: url("../../img/close.svg") no-repeat center center;
  }
  cursor: pointer;
}

.ps-swiper__container {
  margin-left: 40px;
  @include breakpoint(xlarge) {
    margin-left: 80px;
  }
}
